ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 10px;
  }
}

.imagen1 {
  height: 26px;
  width: 26px;
  margin-left: 10px;
  margin-top: 12px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
}
